EVENT_NAME=
EVENT_DESCRIPTION=
USER_MODE=   # 0 | 1
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
THEME_NAME=  # the only optional parameter, default: "core"
START_DATE=  # "yyyy-mm-dd"
START_TIME=  # "hh:mm" in 24hrs format
END_DATE=    # "yyyy-mm-dd"
END_TIME=    # "hh:mm" in 24hrs format
